body {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
}

#calculator {
  height: 575px;
  width: 490px;
  background-color: white;
  border: 1px solid red;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: yellow;
}

#display {
  width: 85%;
  height: 72px;
  border: 3px outset #3c4043;
  border-radius: 8px;
  margin: 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightslategray;
  color: white;

}

.btns {
  display: inline-block;
  text-align: center;
  padding-top: 10px;
}

button {
  height: 100px;
  width: 100px;
  border: 2px outset black;
  border-radius: 8px;
  background-color: #3c4043;
  color: white;
  margin: 2px;
}

#answer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: xx-large;
  padding: 0 13px 13px 0;
}

#input {
  display: flex;
  justify-content:flex-end;
  align-items: flex-start;
  font-size: large;
  padding: 13px 13px 0 0; 
}
